.Carousel{
    /* position: absolute; */
    /* top: 0; */
    height: 100%;
    width:300vw;
    /* background: pink; */
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 100%;
    grid-template-areas:'Images'
                        'Button';
    /* position: relative; */
    /* align-items: center;
    justify-content: center; */
    /* overflow-x: hidden; */

}
.Carousel .Images{
    grid-area: Images;
    height: 100%;
    width:300vw;
    min-width:300vw;
    display: grid;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: "i1 i2 i3";
    overflow-x: scroll;
    margin-left: 200vw;
    /* background: #F7C390; */
}

.Images .I1{
    grid-area: i1;
   display: grid;
   align-items: center;
   justify-content: center;
   /* background: pink; */
   /* margin-left: 100vw; */
   /* position: absolute; */
}
.I1 img{
    border-radius: 12px;
}
.button{
    grid-area: Button;
    display: grid;
    align-items: center;
    justify-content: center;
    width:20%;
    height: 10%;
    position: absolute;
    bottom: 10px;
    z-index: 10;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: "b1 b2 b3";
    
}
.button #n1{
    grid-area: b1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content:center ;

}
.sub_n1{
    height:8px;
    width:18px;
    background: #171B24;
    border-radius: 25px;

}

.Images .I2{
    grid-area: i2;
   display: grid;
   align-items: center;
   justify-content: center;
}
.I2 img{
    border-radius: 12px;
}
.button #n2{
    grid-area: b2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content:center ;


}
.sub_n2{
    height:8px;
    width:8px;
    background: rgba(23, 27, 36, 0.2);

    border-radius: 50%;

}


.Images .I3{
    grid-area: i3;
   display: grid;
   align-items: center;
   justify-content: center;
}
.I3 img{
    border-radius: 12px;
}
.button #n3{
    grid-area: b3;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content:center ;


}
.sub_n3{
    height:8px;
    width:8px;
    background: rgba(23, 27, 36, 0.2);

    border-radius: 50%;

}